.custom-megamenu {
    background-color: transparent;
    border: none;
    padding: 8px;
    width: 100%;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

.custom-megamenu .p-menuitem-link {
    transition: all 0.3s ease-in-out;
    background-color: transparent;
    padding: 12px 16px;
    position: relative;
    overflow: hidden;
    justify-content: center;
    z-index: 3;
    color: white;
}

.custom-megamenu .p-menuitem-text {
    color: white;
    font-size: large;
}

.custom-megamenu .p-menuitem-link:hover {
    background-color: var(--color-accent);
}

.p-megamenu .p-menuitem>.p-menuitem-content .p-menuitem-link .p-submenu-icon {
    color: white;
}

.custom-megamenu .p-menuitem-link:hover {
    color: white;
    background-color: var(--color-accent);
    transform: scale(1.05);
    justify-content: center;
}

.custom-megamenu .p-megamenu-grid .p-menuitem-content:active {
    background-color: transparent;
    color: white;
}

.custom-megamenu .p-megamenu-grid .p-menuitem-content {
    background-color: var(--color-accent);
    color: white;
}

.p-megamenu-root-list {
    color: white;
    align-items: center;
}

@media (max-width: 960px) {
    .p-megamenu-root-list {
        background-color: var(--color-accent);
    }
}

.p-megamenu-button {
    background-color: var(--color-accent);
    color: white;
}

.p-menuitem .p-menuitem-active .p-highlight {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.fallback-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
}